<IfModule mod_rewrite.c>
        RewriteEngine On

	RewriteBase /api/1.2

        #Don't rewrie for files and dirs
        RewriteCond %{SCRIPT_FILENAME} !-d
        RewriteCond %{SCRIPT_FILENAME} !-f

        #All our subpages
        RewriteRule ^register/user$ api.php/register_user.php [NC,L,qsa]
	RewriteRule ^status/user$ api.php/status_user.php [NC,L,qsa]
	RewriteRule ^prepare/probe$ api.php/prepare_probe.php [NC,L,qsa]
	RewriteRule ^register/probe$ api.php/register_probe.php [NC,L,qsa]
	RewriteRule ^update/gcm$ update_gcm.php [NC,L,qsa]
	RewriteRule ^status/ip status_ip.php [NC,L,qsa]
	RewriteRule ^submit/url api.php/submit_url.php [NC,L,qsa]
	RewriteRule ^request/httpt api.php/request_url.php [NC,L,qsa]

</IfModule>
DirectoryIndex index.php

