<IfModule mod_rewrite.c>
        RewriteEngine On

	RewriteBase /1.2

        #Don't rewrie for files and dirs
        RewriteCond %{SCRIPT_FILENAME} !-d
        RewriteCond %{SCRIPT_FILENAME} !-f

        #All our subpages
        RewriteRule ^register/user$ api.php [NC,L,qsa]
	RewriteRule ^status/user$ api.php [NC,L,qsa]
	RewriteRule ^prepare/probe$ api.php [NC,L,qsa]
	RewriteRule ^register/probe$ api.php [NC,L,qsa]
	RewriteRule ^status/probe$ api.php [NC,L,qsa]
	RewriteRule ^submit/url api.php [NC,L,qsa]
	RewriteRule ^request/httpt api.php [NC,L,qsa]
	RewriteRule ^response/httpt api.php [NC,L,qsa]
	RewriteRule ^update/gcm$ api.php [NC,L,qsa]
	RewriteRule ^config/.*$ api.php [NC,L,qsa]

	RewriteRule ^status/ip api.php [NC,L,qsa]
	RewriteRule ^status/url api.php [NC,L,qsa]
	RewriteRule ^status/request api.php [NC,L,qsa]
	RewriteRule ^status/stats api.php [NC,L,qsa]
	RewriteRule ^status/category-stats api.php [NC,L,qsa]
	RewriteRule ^status/domain-stats api.php [NC,L,qsa]
	RewriteRule ^status/domain-isp-stats api.php [NC,L,qsa]
	RewriteRule ^status/isp-stats api.php [NC,L,qsa]
	RewriteRule ^status/blocks api.php [NC,L,qsa]
	RewriteRule ^status/ispreports api.php [NC,L,qsa]
    RewriteRule ^search/url api.php [NC,L,qsa]

    RewriteRule ^category api.php [NC,L,qsa]
    RewriteRule ^category/sites api.php [NC,L,qsa]
    RewriteRule ^category/random api.php [NC,L,qsa]

    RewriteRule ^ispreport/candidates api.php [NC,L,qsa]
    RewriteRule ^ispreport/submit api.php [NC,L,qsa]

	# admin functions
	RewriteRule ^list/users api.php [NC,L,qsa]

	# experimental
	RewriteRule ^stream/results api.php [NC,L,qsa]
	RewriteRule ^verify/email api.php [NC,L,qsa]

</IfModule>
DirectoryIndex index.php

